<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>
         <%= title + ' - ' + author_info.name %>
      </title>
      <%- include('../partials/refs') %>
   </head>
   <body>
      <%- include('../partials/navbar') %>
      <main class="container center-align">
        <div class="row left-align">
          <h1>About me</h1>
        </div>
        <div class="card card-padded">
          <div class="row">
              <div class="col s4"><img src="https://www.fraude.nl/wp-content/uploads/2017/08/Person-placeholder.jpg" alt="placeholder" style="width: 100%"></div>
              <div class="col s8 left-align"><p style="font-size: 16px;">Hello, my name is Koen Sparreboom, I'm 18 years old and I’m from the Netherlands. I'm a student at Mediacollege Amsterdam where I follow game development and I’m in the 3rd grade.
              <br><br>
              I’ve always liked creating and self improvement, making skits with friends where the camera work and humor got a little better every time, making buildings in Minecraft more efficiently and prettier every time and programming a little better with every creation.
              <br><br>
              My favorite of those 3 examples ended up being programming which I got into through lots of inspirational success stories, I owe a lot of experience to Minecraft which at first helped me think logically, later made me more tech savvy when I started fiddling with mods and after that got me into programming when I decided I wanted to give making my own mods a shot, I wasn’t any good but seeing the block I drew in Gimp and programmed in Eclipse come to life was a blast!
              <br><br>
              Over the years I’ve improved my programming skills a lot from better understanding the fundamentals to new languages to new APIs, engines, libraries and more. My strongest points right now are working with C# and Unity.</p>
              </div>
            </div>
         </div>
      </main>
      <%- include('../partials/footer') %>
      <script>
         M.AutoInit();
      </script>
   </body>
</html>